.wrapper {
  display: flex;
  background: linear-gradient(to left, rgba(75, 228, 197, 255), #4248da);
  text-decoration: none;
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
}

.innerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 52px 0 0 34px;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 194px;
  height: 55px;
  background-color: white;
  font-weight: bold;
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-family: "TestSöhne Dreiviertelfett", sans-serif;
  font-size: 30px;
  text-decoration: none;
}

.backBtn:visited {
  color: black;
}

.backBtn:hover {
  background-color: #eff6ff;
}

.backBtn:active,
.backBtn:focus {
  color: green;
}

.backBtn_wrapper {
  margin: 12px 21px;
}

.backBtn_text {
  margin-left: 11px;
}

/*  */

.profileLayer {
  position: relative;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profileWrapper {
  position: relative;

  display: flex;
  justify-content: center;
  width: 315px;
  height: 315px;
  margin: 46px 0 40px;
}

.profile,
.baseProfile {
  position: absolute;
  top: 0;
  left: 0;
  width: 315px;
  height: 315px;
  display: flex;
  margin: auto;
  background-size: cover;
  justify-content: center;
  border-radius: 16px;
  border: 5px solid white;
}

.profile {
  animation: slide-in-out 3s ease-in-out infinite;
  z-index: 999;
}

.baseProfile {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/img/woman.jpg");
  background-size: cover;
}

.profileImage {
  border-radius: 16px;
  border: 5px solid white;
}

@keyframes slide-in-out {
  0% {
    background-image: url("/img/legoWoman.png");
    clip-path: inset(0 0 0 100%);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    background-image: url("/img/legoWoman.png");
    clip-path: inset(0 0 0 100%);
  }
}

.image-container {
  animation: slide-in-out 3s ease-in-out infinite;
}

/*  */

.btnsWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
